<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Catopia Database Management System</title>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="navbar">
        Catopia Database Management System <a class="nav-link" href="/">Home</a> <a class="nav-link" href="/customers">Customers</a> <a class="nav-link" href="/cats">Cats</a> <a class="nav-link" href="/reservations">Reservations</a> <a class="nav-link" href="/services">Services</a> <a class="nav-link" href="/purchased_services">Purchased Services</a> <a class="nav-link" href="/room_types">Room Types</a>    
        <hr>
    </div>

    {{{body}}}

</body>
</html>