<!-- 
    Citation for the following page:
    Date: 11/2/2023
    Based on sample HTML pages from:
    Source URL: https://canvas.oregonstate.edu/courses/1933532/assignments/9297505?module_item_id=23359472
 -->

 <html>
    <head>
        <title>Home</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="table">
            <h2>Welcome to the Catopia Database Management System!</h2>
                <table border="1" cellpadding="5">
                    <caption style="text-align:left"><strong>Below are all possible actions on each page:</strong></caption>
                    <thead>
                        <tr>
                            <th>Page</th>
                            <th>Add</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr>
                                <td>Customers</td>
                                <td>&#10004;</td>
                                <td>&#10004;</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Cats</td>
                                <td>&#10004;</td>
                                <td>&#10004;</td>
                                <td>&#10004;</td>
                            </tr>
                            <tr>
                                <td>Reservations</td>
                                <td>&#10004;</td>
                                <td>&#10004;</td>
                                <td>&#10004;</td>
                            </tr>
                            <tr>
                                <td>Services</td>
                                <td>&#10004;</td>
                                <td>&#10004;</td>
                                <td>&#10004;</td>
                            </tr>
                            <tr>
                                <td>Purchased Services</td>
                                <td>&#10004;</td>
                                <td>&#10004;</td>
                                <td>&#10004;</td>
                            </tr>
                            <tr>
                                <td>Room Type</td>
                                <td>&#10004;</td>
                                <td>&#10004;</td>
                                <td>&#10004;</td>
                            </tr>
                    </tbody>
                </table>
        </div>

    </body>
    </html>