/*custom font*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Chivo+Mono:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&family=Montserrat:wght@400;500&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* global */
body {
    background-color: #fffdf0;
    font-family: montserrat, arial, verdana;
}

h1 {
    color: #1D3124;
    font-size: 35px;
    text-align: center;
    margin: 1%
}

h2 {
    font-size: 25px;
    text-align: center;
}

table {
    border-collapse: collapse;
    vertical-align: middle;
    background-color: white;
    border: 1px solid #BACFC3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    border-radius: 5px;
    width: 900px
}

/* form */
.addform, .deleteform, .updateform {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    border-radius: 5px;  
    width: 600px;
    text-align: left;
}

hr {
    color: #BACFC3
}


fieldset {
    background-color: #BACFC3;
    border: 1px solid #1C3226;
    border-radius: 6px;
    padding: 16px 16px;
    margin:16px 0px 0px 0px;
}

legend {
    float: left;
    width: 100%;
    padding: 0px 4px 8px 0px;
    font-weight: bold;
}

button, input, select, textarea {
    margin: 4px 4px 0 0;
    border:1px solid;
    border-radius: 4px;
    border-color: #BACFC3;
    font-size:100%;
    padding:4px;
    color: #1C3226;
}

p, label {
    margin-left:9px;
}

/* navbar */
.navbar { 
    margin: 1vw 0;
    text-align: center;
    font-size: 20px;
	align-items: center;
    
}

.nav-link{
    font-size: 16px;
    text-decoration: none;
    color: #273e3a;
    padding: 1vw;
}

a:hover{
    color:#E59560;
}

